# IDEs   
*.code-workspace
.idea
.vs

# Lambda
modules/terraform-aws-ca-lambda/build/

# Python
__pycache__
.venv

# Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup
terraform.tfvars

# MKDocs
.cache/