-r requirements-docs.txt
asn1crypto == 1.5.1
assertpy == 1.1
bandit == 1.7.9
black == 24.8.0
boto3 == 1.35.17
certvalidator == 0.11.1
cryptography == 43.0.1
dataclasses-json == 0.6.7
prospector == 1.10.3
pytest == 8.3.2
requests == 2.32.3
setuptools == 74.1.2
structlog == 24.4.0
validators == 0.34.0
