setuptools==69.0.3
assertpy==1.1
boto3==1.34.30
black==22.10.0
cryptography == 41.0.7
asn1crypto == 1.5.1
certvalidator == 0.11.1
prospector==1.10.3
bandit==1.7.5
pytest==7.4.4
validators==0.22.0
requests==2.31.0
