bandit == 1.7.9
black == 24.8.0
boto3 == 1.35.0
cryptography == 43.0.0
dataclasses-json == 0.6.7
prospector == 1.10.3
pytest == 8.3.2
requests == 2.32.3
setuptools == 72.2.0
structlog == 24.4.0
validators == 0.33.0
