name: Checkov security test
on:
  workflow_dispatch:
  push:
    paths:
      - "**/*.tf"
      - ".github/workflows/checkov.yml"

permissions:
  contents: read

jobs:
  checkov_security:
    name: Checkov security tests
    runs-on: ubuntu-latest
    
    permissions:
      id-token: write
      contents: read
      pull-requests: read
      checks: write
      security-events: write
      actions: read

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: prepare reports dir
        run: mkdir --parents ${{runner.temp}}/reports_sast_terraform/

      - name: install checkov
        run: |
          pip3 install --upgrade checkov
          echo $PATH
          checkov --version
          which checkov

      - name: generate json report
        run: >
          checkov
          --config-file .config/sast_terraform_checkov_json.yml
          --directory .
          --output cli
          --output json
          --output sarif
          --output-file-path console,checkov-terraform-results.json,checkov-terraform-results.sarif
