name: Python tests
on:
  workflow_dispatch:
  pull_request:
  push:
    paths:
      - "**/*.py"
      - ".github/workflows/python.yml"

permissions:
  contents: read

jobs:
  python_tests:
    name: Python tests
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python 3.14
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Pytest
        run: |
          pytest -v modules/terraform-aws-ca-lambda      
    
      - name: Black
        run: |
          black --check --line-length 120 .

      - name: Prospector
        run: |
          prospector

      - name: prepare reports dir
        run: mkdir --parents ${{runner.temp}}/reports_sast_python/

      - name: generate json report
        run: >
          bandit -r modules/terraform-aws-ca-lambda/lambda_code modules/terraform-aws-ca-lambda/utils scripts tests utils
          --exit-zero
          --ini .config/sast_python_bandit_json.yml
          1> ${{runner.temp}}/reports_sast_python/${RANDOM}.json

      - name: save json report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sast_python
          if-no-files-found: error
          path: ${{runner.temp}}/reports_sast_python/

      - name: Bandit
        run: >
          bandit -r modules/terraform-aws-ca-lambda/lambda_code modules/terraform-aws-ca-lambda/utils scripts tests utils
          --exit-zero
          --ini .config/sast_python_bandit_cli.yml
